/*
Paleta de Cores do mais escuro pro mais claro:

#171a4a
#a65273
#d78ca2
#808080
#a0a0a0
*/

.color-1 { background-color:#171a4a ; }
.color-1 { background-color:#a65273 ; }
.color-2 { background-color:#d78ca2; }
.color-3 { background-color:#808080 ; }
.color-4 { background-color:#a0a0a0 ; }


body{
    background-color:#c6c6df;
    margin-left: 10%;
    margin-right: 10%;
}

section{
    padding: 3%;
  }  

header{
    background-color: #FFE4E1;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

 p{
        font-family: 'Trocchi', Roboto, 'Times New Roman', Times, serif;
 }
    
h1{
    color:#000000;
    font-size: 2rem;
    text-align: center;
}
  
h2{
    color:#000000;
    font-size: 1.5rem;
    opacity: 50%;
}

div {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0 20px;
}
/* Menu/*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#171a4a ;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: :#171a4a ;
}

