/*
Paleta de Cores do mais escuro pro mais claro:

#171a4a
#a65273
#d78ca2
#808080
#a0a0a0
*/

.color-1 { background-color:#171a4a ; }
.color-1 { background-color:#a65273 ; }
.color-2 { background-color:#d78ca2; }
.color-3 { background-color:#808080 ; }
.color-4 { background-color:#a0a0a0 ; }


body{
    background-color:#c6c6df;
    margin-left: 10%;
    margin-right: 10%;
}

section{
    padding: 3%;
  }  

/*Header*/
header{
    background-color: #FFE4E1;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.imgfigure{
    float:left;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .pfigure {
    padding-bottom: 3%;
    text-align: left;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 3%;
    color: black;
  }
  
  .h1 header{
    color:black;
    font-size: 2rem;
    text-align: left;
  }
  
  .h2 header{
    color:black;
    font-size: 1.5rem;
    opacity: 50%;
  }
  
 p{
    font-family: 'Trocchi', Roboto, 'Times New Roman', Times, serif;
 }
    
h1{
    color:#000000;
    font-size: 2rem;
    text-align: center;
}
  
h2{
    color:#000000;
    font-size: 1.5rem;
    opacity: 50%;
}

div {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0 20px;
}

nav{
    display: flex;  /*flexivel */
    flex-direction: column;  /*um em baixo do outro */ 
    align-items: center;
    background-color:  ;
    padding: 35px;
}
/* Menu/*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black ;
}

.texto {
    color: black;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #171a4a ;
}


/*Definições sobre o Contato*/
.contato{
    background-color:#FFE ;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  
/*Definições sobre mim*/
.sobre{  
    background-color:#FFE ;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #a65273;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #171a4a;
  }
  .alignc{
    margin-left: auto;
    margin-right: auto;
  }
  